:root {
    --c-highcontrast: #011114;
    --c-highcontrast-1: #001c21;
    --c-lowcontrast: #F7F7F7;
    --c-lowcontrast-1: #EFEFEF;
    --c-palette-1: #AC060F;
    --c-palette-2: #f78317;
    --c-palette-3: #237F90;
    --filet: 10px;
}

/* https://fonts.google.com */
* {
    font-family: "Inter Tight", Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--c-highcontrast);
}

/* https://gomakethings.com/hidden-content-for-better-a11y/#hiding-the-link */
.screen-reader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

button {
    /* background: var(--c-palette-3); */
    color: var(--c-highcontrast-1);
    font-weight: 800;
    border-radius: var(--filet);
    border: 1.4px solid var(--c-highcontrast-1);
    padding: 2px 10px;
}

input {
    background: var(--c-lowcontrast-1);
    border-radius: var(--filet);
    border: 1.4px solid var(--c-highcontrast-1);
    padding: 2px 10px;
}

.header {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    flex: 1 0;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}

.logo svg {
    margin: 10px;
}

.headerLinks {
    flex: 2 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 680px) {
    .logo {
        flex-basis: 100%;
    }

    .headerLinks {
        flex-wrap: wrap;
        flex-display: column;
        flex-basis: 100%;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    nav a,
    search,
    search input,
    button.login {
        flex-basis: 100%;
        width: 100%;
        text-align: center;
        padding: 8px;
    }
}

nav,
search {
    white-space: nowrap;
    margin-right: .2rem;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/stephen-hateley-unsplash-op.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 300px;
    color: white;
    text-shadow: var(--c-lowcontrast-1) 1px 1px;
}

div.whiteBg {
    background-color: var(--c-lowcontrast);
    padding: 20px 40px;
    border-radius: var(--filet);
    text-align: center;
}

.textBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
}

#promos {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    grid-gap: 5px 20px;
    padding: 20px 10px;
    background: url(../img/stephen-hateley-unsplash-op.jpg) no-repeat center center fixed;
    background-size: cover;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 30vw;
    border-radius: var(--filet);
}

.card:hover{
    animation: wobble 2s ease-in-out alternate infinite;
}

@keyframes wobble {
    50% {
      transform: rotate(.01turn); 
    }
    100% {
        transform: rotate(-.01turn); 
    }
  }

@media only screen and (max-width: 680px) {
    #promos {
        grid-auto-flow: row;
        justify-content: normal;
    }
    .card {
        height: auto;
        width: 100%;
    }
}

#newsletterSignup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 20px 10px;
    background: var(--c-main);
}

footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 200px;
    background: var(--c-lowcontrast-1);
    padding: 20px 10px;
}

address {
    display: inline-flex;
    flex-direction: column;
}

.footerLinks {
    width: 30vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footerLinks:first-of-type {
    justify-content: flex-start;
    text-align: left;
}

.footerLinks:last-of-type {
    justify-content: flex-end;
    text-align: right;
}

@media only screen and (max-width: 680px) {
    footer {
        flex-direction: column;
    }
    .footerLinks, .footerLinks:last-of-type, address, #social {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}

form span {
    white-space: nowrap;
}