/* Author MOK */
:root {
    --c-highcontrast: #001c21;
    --c-lowcontrast: #F7F7F7;
    --c-lowcontrast-1: #EFEFEF;
    --c-palette-1: #27F5B8;
    --c-palette-2: #004FB6;
    --c-palette-3: #D5ECEC;
    --c-palette-4: #FFE858;
    --filet: 10px;
    /* Gradients created with https://cssgradient.io/ */
    --gradient-1: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(213, 236, 236, 1) 33%, rgba(39, 245, 184, 1) 66%, rgba(255, 232, 88, 1) 100%);
    --gradient-2: linear-gradient(135deg, rgba(255, 232, 88, 1) 0%, rgba(39, 245, 184, 1) 100%);
    --gradient-3: linear-gradient(135deg, rgba(39, 245, 184, 1) 0%, rgba(213, 236, 236, 1) 100%);

}

/* End author MOK */

/* Consolidated code from team */
body {
    background-color: var(--c-palette-3);
    background: url(../img/stephen-hateley-unsplash-op.jpg) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

/* End consolidated code */

/* https://fonts.google.com */
* {
    font-family: "Inter Tight", Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* End code fonts.google.com */

/* https://gomakethings.com/hidden-content-for-better-a11y/#hiding-the-link */
/* MOK updating clip to clip-path */
.screen-reader {
    border: 0;
    clip-path: rect(0 0 0% 0%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* End code gomakethings */

/* https://www.gradient-animator.com/ */
@-webkit-keyframes animateBackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes animateBackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes animateBackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* end https://www.gradient-animator.com/ */

/* Used to animate the Banner Buy tickets! */
@keyframes wobbleTicket {
    50% {
        transform: rotate(14deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

/* Author MOK */
button {
    color: var(--c-highcontrast);
    font-weight: 800;
    border-radius: var(--filet);
    border: 1.4px solid var(--c-highcontrast);
    padding: 2px 10px;
    cursor: pointer;
}

button.button-1 {
    color: var(--c-palette-1);
    border: 1.4px solid var(--c-palette-2);
    background: var(--c-palette-2);
}

button.button-1:hover {
    color: var(--c-palette-2);
    border: 1.4px solid var(--c-palette-1);
    background: var(--c-palette-1);
}

/* Styling links to look like buttons */
a.button-1 {
    text-decoration: none;
    color: var(--c-palette-1);
    font-weight: 800;
    border-radius: var(--filet);
    padding: 2px 10px;
    cursor: pointer;
    border: 1.4px solid var(--c-palette-2);
    background: var(--c-palette-2);
}

a.button-1:hover {
    color: var(--c-palette-2) !important;
    border: 1.4px solid var(--c-palette-1);
    background: var(--c-palette-1);
}

/* The banner Buy Tickets! */
.ticket {
    color: var(--c-highcontrast);
    background: var(--c-palette-4);
    border-top: 4px solid #f2dc5d;
    border-bottom: 4px solid #f2dc5d;
    position: absolute;
    right: -100px;
    top: -60px;
    transform: rotate(16deg);
    padding: 20px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 20%, 100% 80%, 90% 100%, 10% 100%, 0% 80%, 0% 20%); /* This creates the ticket shape */
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.ticket:hover {
    animation: wobbleTicket 2s ease-in-out alternate infinite;
}

.ticket a,
.ticket a:hover {
    text-decoration: none;
    font-weight: bold;
    color: var(--c-highcontrast);
}

/* General styling for inputs */
input,
textarea,
select {
    display: inline-flex;
    align-content: start;
    align-items: baseline;
    color: var(--c-highcontrast);
    background: var(--c-lowcontrast-1);
    border-radius: var(--filet);
    border: 0px;
    padding: 2px 10px;
    min-width: 4rem;
    min-height: 1rem;
    max-height: fit-content;
}

input[type='radio'],
input[type='checkbox'] {
    min-width: 2rem;
}

/* General link styling */
a {
    color: var(--c-palette-2);
}

a:hover {
    color: var(--c-palette-2);
}

/* Styling for the header */
.header {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: rgb(213, 236, 236);
    background: var(--gradient-1);
    background-size: 300% 300%;
    animation: animateBackground 10s ease infinite;
}

header .header-links a:hover {
    color: var(--c-highcontrast);
    text-decoration-color: var(--c-palette-2);
    background-color: var(--c-palette-1);
}

.logo {
    flex: 1 0;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    color: var(--c-highcontrast);
}

.logo svg {
    margin: 10px;
}

.header-links {
    flex: 2 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding-right: 1rem;
}

/* Resize styling for the header */
@media only screen and (max-width: 680px) {
    .logo {
        flex-basis: 100%;
    }

    .header-links {
        flex-wrap: wrap;
        flex-direction: column;
        flex-basis: 100%;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    nav a,
    .search,
    .search input,
    button#login {
        flex-basis: 100%;
        width: 100%;
        text-align: center;
        padding: 8px;
    }
}

nav,
.search {
    white-space: nowrap;
    margin-right: .4rem;
}

/* General section styling to handle layout */
.banner,
.center {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

div .section-title,
section .section-title {
    width: auto;
    height: 1.4rem;
    text-align: center;
    background-color: var(--c-palette-1);
    position: relative;
    padding: 0 20px;
    margin-bottom: 20px;
}

div .section-title h2,
section .section-title h2 {
    text-decoration: underline;
    text-decoration-color: var(--c-palette-2);
    position: relative;
    bottom: -2px;
}

section.information {
    background: var(--c-lowcontrast-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

section.information p,
section.information address {
    align-self: center;
    width: 400px;
    max-width: 80vw;
    padding-bottom: .4rem;
}

div.card-section,
section.card-section {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    align-items: center;
    justify-items: center;
    background: var(--c-palette-3);
}

/* Styling details element */
details {
    width: 400px;
    max-width: 80vw;
    text-align: left;
    margin-bottom: .4rem;
}

details summary {
    font-weight: bold;
    cursor: pointer;
}

/* End author MOK */

/* Author Xose Mendez */
.opening-hours {
    background-color: var(--c-lowcontrast);
    text-align: center;
    padding: 2rem;
}

.opening-hours span {
    display: block;
}

.card-align {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 500px) {
    .card-section {
        flex-direction: column;
    }
}

.card {
    position: relative;
    /* MOK, added for ticket */
    background: var(--c-lowcontrast);
    text-align: center;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    line-height: 2rem;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    box-shadow: 0.5rem 0.5rem var(--c-palette-1);
}

.card img {
    border-radius: var(--filet) var(--filet) 0 0;
    max-width: 330px;
    max-height: 300px;
}

.card-button {
    transition: transform 0.3s;
    cursor: pointer;
}

.card-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--c-highcontrast);

}

/* MOK Moving padding to title and description */
.card-title {
    font-weight: bold;
    padding: 1.4rem 1.4rem 0 1.4rem;
}
/* MOK adding padding for h1 */
h1.card-title {
    padding-top: 2rem;
    padding-bottom: .4rem;
}

.card-description {
    padding: 0 1.4rem 1.4rem 1.4rem;
}

.card-button:hover {
    transform: rotate(10deg);
}

/* End author Xose Mendez */

/* Author Laura Blanco, support from MOK */
/* Styling for the email signup */
.subscribe {
    text-align: center;
    font-size: 46px;
    color: var(--c-palette-2);
    background: var(--gradient-3);
    width: 60%;
    padding: 20px;
    border-radius: var(--filet);
}

.subscribe p {
    font-size: 20px;
    margin: 7px;
    color: var(--c-highcontrast);
}

.subscribe form input {
    width: 25%;
    border: none;
    padding: 7px;
    font-size: 20px;
    border-radius: 4px;
}

.subscribe form button {
    background-color: var(--c-palette-4);
    border: none;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    color: var(--c-palette-2);
}

.subscribe form button:hover {
    color: var(--c-palette-2);
    background-color: var(--c-palette-1);
}

.subscribe form button a:hover {
    color: var(--c-lowcontrast);
}

/* Styling for the footer */
footer {
    width: 100%;
    background: var(--c-palette-2);
}

.footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

/* Resize footer */
@media only screen and (max-width: 680px) {
    .footerGrid {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

.footerGrid .logo {
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: left;
    color: var(--c-lowcontrast);
}

.footerGrid .logo svg {
    margin: 20px;
}

.footerGrid .logo p {
    color: var(--c-lowcontrast-1);
    font-style: italic;
}

footer .footerRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

footer hr {
    margin-left: 1.5%;
    width: 97%;
    color: var(--c-palette-1);
}

.footerRow .footerColumn h3 {
    color: var(--c-lowcontrast);
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0px;
}

.footerRow address {
    margin-top: 20px;
}

.footerRow address p {
    color: var(--c-lowcontrast-1);
    margin-bottom: 5px;
    font-weight: 400;
    font-style: italic;
}

.footerRow address .p a {
    color: var(--c-lowcontrast-1);
    margin-bottom: 5px;
    font-weight: 400;
}

.footerColumn .footerLinks {
    margin-top: 20px;
    padding-inline-start: 0px;
}

.footerColumn .footerLinks li {
    list-style: none;
    margin-bottom: 5px;
    color: var(--c-lowcontrast-1);
}

.footerColumn .footerLinks li a,
.footerColumn address a {
    text-decoration: none;
    color: var(--c-lowcontrast-1);
}

.footerColumn .footerLinks li a:hover,
.footerColumn address a:hover {
    color: var(--c-palette-1);
}

.button-app {
    color: var(--c-palette-2);
    background-color: var(--c-palette-4);
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    text-decoration: none;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
}

.button-app a:link {
    text-decoration: none;
}

.button-app:hover {
    color: var(--c-palette-2);
    background-color: var(--c-palette-1);
}

/* General Address styling  */
address p a:link {
    text-decoration: none;
}

address p a:hover {
    color: var(--c-palette-1);
    margin-bottom: 5px;
    font-weight: 400;
}

/* End Author Laura Blanco */

/* Author Tej */
.breadcrumbs ol svg {
    width: 24px;
    vertical-align: middle;
}

.breadcrumbs {
    padding: 10px 48px;
    box-shadow: 0 4px 30px -10px rgba(0, 0, 0, 0.2);
    width: 100%;
    background: var(--c-lowcontrast);
}

.breadcrumbs ol {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 8px;
}

.breadcrumbs ol li a {
    text-decoration: none;
    color: var(--c-highcontrast);
}

.breadcrumbs ol li a:hover {
    color: var(--c-palette-2);
}

/* very nice use of pseudo classes */
.breadcrumbs ol li:last-child {
    font-weight: bold;
}

.breadcrumbs ol li a:not(:first-child):before {
    content: ", ";
}

.breadcrumbs ol li.arrow svg {
    width: 18px;
}

/* End author Tej */