/* https://fonts.google.com */
* {
    font-family: "Inter Tight", Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* https://gomakethings.com/hidden-content-for-better-a11y/#hiding-the-link */
.screen-reader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.header {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: grey;
}

.logo {
    flex: 1 0;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}

.logo svg {
    margin: 10px;
}

.headerLinks {
    flex: 2 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 680px) {
    .logo {
        flex-basis: 100%;
    }

    .headerLinks {
        flex-wrap: wrap;
        flex-display: column;
        flex-basis: 100%;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    nav a,
    search,
    search input,
    button.login {
        flex-basis: 100%;
        width: 100%;
        text-align: center;
        padding: 8px;
    }
}

nav,
search {
    white-space: nowrap;
    margin-right: .2rem;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/banner-istrfry-marcus-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 300px;
}

#banner h1 {
    color: white;
}

#promos {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 30vw;
    background-color: green;
    border-radius: 20px;
}

#newsletterSignup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 200px;
    background: red;
}